body {
    background-color: #ebebeb;
    font-size: 15px;
    align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.bg-color-ffd167 {
    background-color: #ffd167;
}
.bg-color-4da2a9 {
    background-color: #4da2a9;
}
.bg-color-d3d4d9 {
    background-color: #d3d4d9;
}